            <main class="dots">
                <space></space>
                <content class="start main">
                    <div>
                        <a class="big title" href="{{ '/regeln/index.html' | prepend: site.baseurl }}">REGELN</a>
                        <a class="big title" href="{{ '/faq/index.html' | prepend: site.baseurl }}">
                            <br/>FAQ
                        </a>
                        <a class="big title" href="{{ '/changelog/index.html' | prepend: site.baseurl }}">
                            <br/>Changelog
                        </a>
                        <a style="display:none;" id="commandlist" class="big title" href="{{ '/commands/index.html' | prepend: site.baseurl }}">
                            <br/>Commands
                        </a>
                    </div>
                </content>
                <space></space>
            </main>
