
        <main class="dots">
            <space></space>
            <content class="main">
                <span class="title">Social Media</span>
                <!--
                <div class="search">
                    <form class="search__form">
                        <input id="guideFilter" placeholder="Filtern" type="text">
                    </form>
                </div>
                -->
                <div class="accordion w-100 " id="basicAccordion">
                    {%- for faq in page.faqs -%}
                        <div class="accordion-item" data-terms="{%- for term in faq.terms -%}{{ term }}&#32;{%- endfor -%}">
                            <h2 class="accordion-header" id="heading{{forloop.index0}}">
                                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#basicAccordionCollapse{{forloop.index0}}" aria-expanded="false" aria-controls="collapse{{forloop.index0}}">
                                    {{ faq.button_title }}
                                </button>
                            </h2>
                            <div id="basicAccordionCollapse{{forloop.index0}}" class="accordion-collapse collapse" aria-labelledby="heading{{forloop.index0}}" data-mdb-parent="#basicAccordion" style="">
                                <div class="accordion-body">
                                    {%- if faq.img -%}
                                        <img src="{{ faq.img | prepend: '/assets/images/' | prepend: site.baseurl }}" width="90%"></img><br/><br/>
                                    {%- endif -%}
                                    {%- for reihe in faq.rows -%}
                                        {{ reihe }}
                                    {%- endfor -%}
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </content>
            <space></space>
        </main>
