
            <nav class="header">
                <space></space>
                <div class="nav-container">
                    <a class="logo" href="{{ '/index.html' | prepend: site.baseurl }}">
                        <img class="logo" src="{{ '/favicon.png' | prepend: site.baseurl }}" alt=""/></a>
                    <div class="link_container">
                        <a class="logo-text" href="{{ '/team/index.html' | prepend: site.baseurl }}" >Team</a>
                        <a class="logo-text" href="{{ '/partner/index.html' | prepend: site.baseurl }}" >Partner</a>
                        <a class="logo-text" href="{{ '/events/index.html' | prepend: site.baseurl }}" >Events</a>
                        <a class="logo-text" href="{{ '/socialmedia/index.html' | prepend: site.baseurl }}" >Social Media</a>
                    </div>
                </div>
                <space></space>
            </nav>
